.nav {
    background-color: #e4cdc1;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 12px 13px;
    &__icon {
        display: flex;
        align-items: center;
        font-size: 1.25rem;
    }
    &__links {
        display: flex;
        list-style-type: none;
        &__link { 
            & a {
                padding: 8px;
                text-align: center;
                text-decoration: none;
                &:hover {
                    color: rgba(#000000, .9);
                }
            }
            &--active a {
                color: rgba(#000000, .9);
            }
        }
    }
}