.principal {
    &__carousel {
        position: relative;
        margin-bottom: 48px;

        &__slide {
            animation-name: fade;
            animation-duration: 1.5s;

            & img {
                width: 100%;
                height: auto;
            }
        }

        &__arrow {
            cursor: pointer;
            position: absolute;
            top: 50%;
            width: auto;
            padding: 16px;
            margin-top: -22px;
            color: white;
            font-weight: bold;
            font-size: 18px;
            transition: 0.6s ease;
            border-radius: 0 3px 3px 0;
            user-select: none;

            &--next {
                right: 0;
                border-radius: 3px 0 0 3px;
            }
        }
    }

    &__notice {
        margin-bottom: 48px;

        &__title {
            text-align: center;
            font-size: 37px;
            font-weight: 500;
            line-height: 1.2;
            margin-bottom: 8px;
        }

        &__phrase {
            text-align: center;
        }
    }

    &__menus {
        background-color: #31322f;
        padding: 48px;
        display: flex;
        justify-content: space-evenly;
        flex-flow: row wrap;

        &__menu {
            padding: 12px 12px;
            display: flex;
            flex-flow: column wrap;
            flex: 1 1 0px;

            &--left {
                @media (max-width: 447px) {
                    border-bottom: 2px solid #fff;
                }

                @media (min-width: 447px) {
                    border-right: 2px solid #fff;
                    border-bottom: 2px solid #fff;
                }

                @media (min-width: 621px) {
                    border-right: 2px solid #fff;
                    border-bottom: 0px;
                }
            }

            &--center {
                @media (max-width: 621px) {
                    border-bottom: 2px solid #fff;
                }

                @media (min-width: 621px) {
                    border-right: 2px solid #fff;
                    border-bottom: 0px;
                }
            }

            &__title {
                text-align: center;
                font-size: 37px;
                font-weight: 500;
                line-height: 1.2;
                color: rgba(#fff, 1);

                &--price {
                    margin-bottom: 8px;
                }
            }

            &__items {
                background-color: #fff;
                list-style-type: none;

                &__item {
                    padding: 8px 16px;
                    border: 1px solid rgba(#000, .125);
                }
            }
        }
    }
}
@keyframes fade {
    from {
        opacity: .4
    }

    to {
        opacity: 1
    }
}